.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.logout {
    float: right;
    max-width: 200px;
    margin-right: 40px;
    line-height: 58px;

}
#navbar {
    float: left;
}
