.brand-logo a img {
    max-height: 75px;
}
.brand-logo-white a img {
    width: 120px;
    margin-left: 40px;
}

.service-image {
    height: 225px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.active button {
    color: #ffffff;
    background-color: #2B2D37;
}

.footer-widget__logo a > img {
    margin-top: 50px;
    margin-right: 50px;
    width: 320px;
}
.powered  {
    color: #f5f8f9;
    font-size: 10px;
}
.feature-content-wrapper a {
    margin-left: 75px;
}

